<!DOCTYPE html>
<html>
<head>
<title>CATTSS <% if (testMode) { %>user study alpha part <%= testNum %><% } else { %>demo app [tap]<% } %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--meta name="viewport" content="width=device-width, initial-scale=1" /-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->


<link href="app.css" rel="stylesheet" type="text/css" />

<script> 
    <% if (testMode) { %>
    testMode=true; 
    testNum=<%= testNum %>;
    <% } else { %>
    testMode=false; 
    testNum=-1;
    <% } %>
</script>

</head>
<body onload="setup()">
<div class="container">
    <script type="text/javascript" src="app_base.js"></script>
    <script type="text/javascript" src="<%= app_version %>.js"></script>
    <div id="title">
        
        <label hidden>Select incorrect highlightings.</label>
        <button type="button" id="undoButton" onclick="undo()">Previous</button>
        
        <form action="/logout" method="post" hidden>
                <input type="submit" value="Log out"/>
        </form>
    </div>
    <noscript>ERROR, JavaScript must be enabled for this app to work.</noscript>
    <div class="window">
        <div id="spinner" class="loader">Loading...</div>
    </div>
     
</div>
<% if (testMode) { %><div id='instructions'><div>
    <p><b>Version <%= testNum %></b></p>
    <p>Tap on the instances where the highlighted part of the word doesn't match the characters at the top.</p>
    <p>Tap to start!</p>
</div></div><% } %>
</body>
</html>
