<!DOCTYPE html>
<html>
<head>
<title>CATTSS <% if (testMode) { %>user study beta <% } else { %>demo app<% } %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<script src="https://jsconsole.com/js/remote.js?9d7cf7bc-ae44-48d9-be30-62696b46cf53"></script>

<link href="app_hardcore.css" rel="stylesheet" type="text/css" />
<script> 
    <% if (testMode) { %>
    timingTestMode=true; 
    <% } else { %>
    timingTestMode=false; 
    <% } %>
    <% if (trainMode) { %>
    trainingMode=true;
    <% } else { %>
    trainingMode=false;
    <% } %>
    <% if (save) { %>
    save=true;
    <% } else { %>
    save=false;
    <% } %>
</script>
</head>
<body onload="setup()">
<script type="text/javascript" src="app_base.js"></script>
<script type="text/javascript" src="<%= app_version %>.js"></script>
<div id="topper">
    <!--<div id="title">
        <div>Subword user correction UI</div>
        
        <form action="/logout" method="post" hidden>
            <input type="submit" value="Log out"/>
        </form>
    </div>-->
    <button type="button" id="undoButton" onclick="undo()">undo</button>
    <button type="button" id="menuButton" onclick="menu()">menu</button>
    <button type="button" id="passButton" onclick="pass()">skip</button>
    <div id="menu" class="hidden">
        <button class="menuItem" id="exitButton" onclick="exit()">EXIT</button>
    </div>
</div>
<noscript>ERROR, JavaScript must be enabled for this app to work.</noscript>

<div class="container">
    
    <div class="window">
        <div id="spinner" class="loader">Loading...</div>
    </div>
    
    <div id="shows">
        <img src='/X.png' id='showX'>
        <img src='/check.png' id='showCheck'>
        
    </div>
    <div id="icons">
        <img src='/leftIcon.png' id='leftIcon'>
        <img src='/rightIcon.png' id='rightIcon'>
        
    </div>
</div>
<div id='overlay'></div>
<% if (trainMode) { %><div id='instructions'><div id='instructionsText'>
        Training
</div></div><% } %>
</body>
</html>
