<!DOCTYPE html>
<html>
<head>
<title>CATTSS demo app</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />


<script src="http://jsconsole.com/js/remote.js?27fd1090-e35d-471d-bde7-4a8ecb04a006"></script>
<link href="app_hardcore.css" rel="stylesheet" type="text/css" />
</head>
<body onload="setup()">
<script type="text/javascript" src="<%= app_version %>.js"></script>
<div id="topper">
    <div id="title">
        <div>Subword user correction UI demo</div>
        <p id='instructions' hidden>Swipe right of the highlighted handwriting matches the letters at the bottom, otherwise swipe right.</p>
        <form action="/logout" method="post" hidden>
            <input type="submit" value="Log out"/>
        </form>
    </div>
    <button type="button" id="undoButton" onclick="undo()">undo</button>
    
</div>
<noscript>ERROR, JavaScript must be enabled for this app to work.</noscript>

<div class="container">
    
    <div class="window">
        <div id="spinner" class="loader">Loading...</div>
    </div>
    
    <div id="icons">
        <img src='/rightIcon.png' id='rightIcon'>
        <img src='/leftIcon.png' id='leftIcon'>
        
    </div>
</div>
<div id='overlay'></div>
</body>
</html>
