<!DOCTYPE html>
<html>
<head>
<title>CATTSS <% if (testMode) { %>user study alpha part <%= testNum %><% } else { %>demo app [swipe]<% } %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />



<link href="app_hardcore.css" rel="stylesheet" type="text/css" />
<script> 
    <% if (testMode) { %>
    testMode=true; 
    testNum=<%= testNum %>;
    <% } else { %>
    testMode=false; 
    testNum=-1;
    <% } %>
</script>
</head>
<body onload="setup()">
<script type="text/javascript" src="app_base.js"></script>
<script type="text/javascript" src="<%= app_version %>.js"></script>
<div id="topper">
    <div id="title">
        <div>Subword user correction UI</div>
        
        <form action="/logout" method="post" hidden>
            <input type="submit" value="Log out"/>
        </form>
    </div>
    <button type="button" id="undoButton" onclick="undo()">undo</button>
    
</div>
<noscript>ERROR, JavaScript must be enabled for this app to work.</noscript>

<div class="container">
    
    <div class="window">
        <div id="spinner" class="loader">Loading...</div>
    </div>
    
    <div id="icons">
        <img src='/rightIcon.png' id='rightIcon'>
        <img src='/leftIcon.png' id='leftIcon'>
        
    </div>
</div>
<div id='overlay'></div>
<% if (testMode) { %><div id='instructions'><div>
    <p><b>Version <%= testNum %></b></p>
    <p>Swipe right if the highlighted part of the handwriting matches the letters at the bottom, otherwise swipe left.</p>
    <p>Tap to start!</p>
</div></div><% } %>
</body>
</html>
