<!DOCTYPE html>
<html>
<head>
<title>CATTSS Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href="main.css" rel="stylesheet" type="text/css" />


<script>
function show_create() {
    document.getElementById("login_form").classList.toggle('closed');
    document.getElementById("create_account_form").classList.toggle('closed');
}
function hide_create() {
    document.getElementById("login_form").classList.toggle('closed');
    document.getElementById("create_account_form").classList.toggle('closed');
}


</script>
</head>

<% if (was && was=='create_account') { %>
<body onload="show_create()">
<%} else {%>
<body>
<% } %>
<% if (message && message.length>0) { %>
<p class="flash"><%= message %></p>
<% } %>
<div id=login_form  class="slider closed">
    <h2>Returning tester</h2>
    <form action="/login" method="post" autocomplete="on">
        <div>
            <label>Email:</label>
            <input type="text" name="email"/>
        </div>
        <div>
            <input type="password" name="password" value="none" hidden=true/>
        </div>
        <div>
            <input type="submit" value="Log in"/>
        </div>
    </form>
    <br>
    <button type="button" onclick="show_create()" id="show_create_button">New tester</button><br>
</div>


<div id=create_account_form class="slider">
    <button type="button" onclick="hide_create()" id="show_create_button">Returning tester</button><br>
    <h2>New tester</h2>
    <form action="/create_account" method="post" autocomplete="on" >
        <div>
            <label>Email:</label>
            <input type="email" name="email" autocapitalize=off autocorrect=off />
        </div>
        <br>
        <div>
            <input type="password" name="password" value="none" hidden=true/>
        </div>
        <p>If you're willing, please provide a little information about yourself to help in analyzing the results.</p>
        <br>
        <label>Age:</label>
        <div class='listmenu'>
            <label for="<10">
                <input type="radio" name="age" id="<10" value="<10" ><span> less than 10 </span><br>
            </label>
            <label for="10-13">
                <input type="radio" name="age" id="10-13" value="10-13" ><span> 10-13 </span><br>
            </label>
            <label for="14-18">
                <input type="radio" name="age" id="14-18" value="14-18"><span> 14-18 </span><br>
            </label>
            <label for="19-30">
                <input type="radio" name="age" id="19-30" value="19-30"><span> 19-30 </span><br>
            </label>
            <label for="31-45">
                <input type="radio" name="age" id="31-45" value="31-45"><span> 31-45 </span><br>
            </label>
            <label for="46-65">
                <input type="radio" name="age" id="46-65" value="46-65"><span> 46-65 </span><br>
            </label>
            <label for="66+">
                <input type="radio" name="age" id="66+" value="66+"><span> 66+ </span><br>
            </label>
        </div>
        <br>
        <label>Previous experience with transcription/indexing:</label><br>
        <div class='listmenu'>
            <label for="None">
                <input type="radio" name="experience" id="None" value="None" ><span> None </span><br>
            </label>
            <label for="A little">
                <input type="radio" name="experience" id="A little" value="A little" ><span> A little </span><br>
            </label>
            <label for="Some">
                <input type="radio" name="experience" id="Some" value="Some"><span> Some </span><br>
            </label>
            <label for="A fair amount">
                <input type="radio" name="experience" id="A fair amount" value="A fair amount"><span> A fair amount </span><br>
            </label>
            <label for="Very experienced">
                <input type="radio" name="experience" id="Very experienced" value="Very experienced"><span> Very experienced </span><br>
            </label>
        </div>
        <br>
        <label hidden>Would you be willing to participate in the final testing of the system in the future?</label><br>
        <div class='listmenu' hidden>
            <label for="No">
                <input type="radio" name="contactInFuture" id="No" value="No" ><span> No </span><br>
            </label>
            <label for="Yes">
                <input type="radio" name="contactInFuture" id="Yes" value="Yes" checked><span> Yes </span><br>
            </label>
        </div>
        <br>
        <div>
            <input type="submit" value="Log in"/>
        </div>
    </form>
    <br>
</div>


</body>
</html>
