<!DOCTYPE html>
<html>
<head>
<title>CATTSS user test beta</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href="main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <div id="title"><h1>Thank you for your help!</h1></div>
    
<form action="/logout" method="post">
    <input type="submit" value="Log out"/>
</form>
    <br>
    <div>
        You can send me feedback here: <a href= "mailto:briandavis@byu.net">briandavis@byu.net</a>
    </div>
</div>
</body>
</html>
