<!DOCTYPE html>
<html>
<head>
<title>CATTSS user study alpha</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href="main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <!--
    <div id="title"><h1>Welcome!</h1></div>
    <p>In this study, you will be presented with two different app interfaces for correcting a handwriting recognition technology. After using them each for a short time, you will be asked to provide some feedback. The interfaces are designed for a smartphone in portrait orientation, though other devices should work.</p>
    <p>It should take about 5 minutes.</p>
    
    <div id='apps'>Ready? <a href="/app-test-1">Go!</a> </div>
    
    <br>
    <div id='additional'>
    <h2>Additional Information:</h2>
    <p>This is a study to help the developement of an app as part of my (Brian Davis) thesis project. The objective of my thesis is to provide a computer assisted transcription system for handwritten documents where user interaction is very simple and easy. The app you will be testing is for collecting user feedback the system needs as it does recognition of fragments of the document. Using these fragments, the system will begin to infer the correct transcription of words.</p>
    <p>CATTSS = Computer Assisted Transcription Through Subword Spotting</p>
    </div>
    -->
    Sorry, the study is all done.
</div>
</body>
</html>
